* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	color: #434344;
}
body {
	background-color: #CFD0CF;
}
header {
	color: #434344;
	font: bold 42px/47px Arial, sans-serif;
	text-align: center;
	padding: 40px;
}
footer {
	text-align: center;
	min-height: 60px;
}
.gameBoard {
	margin: auto;
	width: 595px;
	grid-gap: 25px;
	display: grid;
	grid-template-areas: "a b c d"
						 "aa bb cc dd"
						 "aaa bbb ccc ddd";
}
.gameCard {
	text-align: center;
	border: 5px solid white;
	border-radius: 10px;
	font-size: 75px;
	height: 130px;
	width: 130px;
	background: linear-gradient(45deg, #22AB93, #19668D);
}